@media (min-width: 700px) {


    .panier h1 {

        display: flex;
        justify-content: center;
        margin-top: 50px;

    }




    .container {

        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 80%;

    }






    footer {

        margin-top: 280px;

    }


    .info ul {

        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 270px;
        padding: 20px;
    }


    .info a {

        display: flex;
        margin-left: 40px;

    }



}