
*, ::before, ::after {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


body {

    background: #eec0ee;
    font-family: 'poppins', sans-serif;
}






/* HEADER */



.presentation {

    background: rgba(24, 1, 20, 0.651);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.presentation img  {

    width: 200px;
    
}



.liens {

    display: flex;
    width: 150px;
    font-size: 20px;
    
    
}


.liens ul {

    display: flex;
    list-style-type: none;
    
    
}

.liens a {

    display: flex;
    text-decoration: none;
    margin-left: 15px;
    color: #fff;
    
}


.liens i {

    font-size: 25px;
    width: 40px;
    
}




/* CORPS DE LA PAGE */


.panier h1 {

    display: flex;
    justify-content: center;
    margin-top: 50px;

}


table {

    display: flex;
    justify-content: center;
    border-collapse: collapse;
    margin-top: 30px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);

}


th {

    padding: 20px;

}


tbody td {

    
    
}