
*, ::before, ::after {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


body {

    background: #eec0ee;
    font-family: 'poppins', sans-serif;
}






/* HEADER */



.presentation {

    background: rgba(24, 1, 20, 0.651);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.presentation img  {

    width: 200px;
    
}



.liens {

    display: flex;
    width: 150px;
    font-size: 20px;
    
    
}


.liens ul {

    display: flex;
    list-style-type: none;
    
    
}

.liens a {

    display: flex;
    text-decoration: none;
    margin-left: 15px;
    color: #fff;
    
}


.liens i {

    font-size: 25px;
    width: 40px;
    
}








/*  CORPS DE LA PAGE */



.produit h1 {

    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 20px;
}


.container {

    display: flex;
    justify-content: center;
    

}


.photo {

    
    background: rgba(24, 1, 20, 0.651);
    margin-top: 50px;
    border-radius: 10px;
    width: 300px;
    height: 600px;
}



.photo img {

    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    width: 300px;

}


.photo h2, p, strong {

    display: flex;
    flex-direction: column;
    color: #fff;
    margin: 20px;

}


button {

    display: flex;
    font-family: 'poppins', sans-serif;
    font-size: 14px;
    margin: 25px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 10px;
    background: rgb(235, 66, 0);
    border: none;
    color: #fff;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

}


.boutton:hover {

    background: rgb(238, 111, 61);

}








/* FOOTER */


footer {

    background: rgba(24, 1, 20, 0.651);
    margin-top: 70px;
    
}


.info ul  {

    list-style-type: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
}


.info a {

    
    text-decoration: none;
    color: #fff;
    margin-top: 10px;

}
