
/* PAGE D'ACCUEIL - PAGE 1 */

@media screen and (min-width: 320px) {

    #main {

        display: flex;
        flex-direction: column;
    }



}


@media screen and (min-width: 760px) {

    #main {

        display: flex;
        justify-content: center;
        flex-direction: row;
    }


    .photo {

        
        margin: 50px 20px 0 0;

    }


 

}



@media screen and (min-width: 900px) {

   
    #main {

        display: flex;
        justify-content: center;
       

    }

    .photo {

        margin: 50px 20px 0 0;

    }

 
    .description {

        color: #fff;

    }

}






@media screen and (min-width: 620px) {

    


    .info ul {

        display: flex;
        justify-content: center;
        flex-direction: row;

    }


    .info a {

        display: flex;
        margin-left: 40px;

    }





}






/* PAGE PRODUIT - PAGE 2 */


@media screen and (min-width: 320px) {

    .camera {

        display: flex;
        justify-content: center;
        margin: 100px;
        
    }



    .picture {

        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px 10px 10px 10px;
        border: 1px solid black;  
        background: rgba(26, 25, 25, 0.842);
        width: 300px;
       
    }


    .image2 {

        border-radius: 10px 10px 0 0px;
        height: 400px;
        width: 298px;
        object-fit: cover;
        
    
    }
    


    
    .image2 img {
    
        height: 900px;
        width: 800px;
        
    
    }



    .name2 {

        font-size: 30px;
        font-weight: bold;
        margin: 10px;
        color: rgba(255, 255, 255, 0.842);
        margin: 20px 0 0 10px;

    }


    .price2 {

        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 20px;
        font-weight: bold;
        margin: 10px;
        color: rgba(255, 255, 255, 0.842);
        margin: 20px 0 0 10px;

    }


    #liste {

        border-radius: 5px 5px 5px 5px;
        padding: 10px 0px 10px 10px;
        margin: 10px;
        width: 130px;

    }


    


    .btn-produit {

        display: flex;
        justify-content: center;

    }



    .btn-produit2 {

        margin-top: 110px;
        
        

    }





}




@media screen and (min-width: 500px) { 

    .picture {

        display: flex;
        justify-content: center;
        width: 450px;

    }


    .image2 {

        border-radius: 10px 10px 0 0px;
        height: 400px;
        width: 448px;
        object-fit: cover;
        
    
    }


    .btn-produit2 {

        display: flex;
        justify-content: center;
        margin-top: 110px;
        width: 96%;
        

    }


    #liste {

        border-radius: 5px 5px 5px 5px;
        padding: 10px 0px 10px 10px;
        margin: 10px;
        width: 200px;

    }


}



@media (min-width: 600px) {

    .panier {

        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        width: 550px;
        

    }




}


@media (min-width: 1000px) {

    .panier {

        display: flex;
        justify-content: center;
        margin: auto;
        width: 800px;

    }




}




@media (min-width: 320px) {

    .container {

        display: flex;
        justify-content: center;
        margin: auto;
        width: 100%;
        

    }


    footer {

        background: rgba(24, 1, 20, 0.651);
        margin-top: 291px;
    }
    




}



@media (min-width: 600px) {

    .container {

        display: flex;
        justify-content: center;
        margin: auto;
        width: 550px;
        

    }



    footer {

        background: rgba(24, 1, 20, 0.651);
        margin-top: 351px;
    }
    
    
    



}



@media (min-width: 1000px) {

    .container {

        display: flex;
        justify-content: center;
        margin: auto;
        width: 800px;
        

    }


    
button {

    margin-left: 110px;
  
}







}






@media screen and (min-width: 1000px) {


    .camera {

        margin: 100px;
        
    }



    .picture {

        
        border-radius: 10px 10px 10px 10px;
        border: 1px solid black;  
        background: rgba(26, 25, 25, 0.842);
        width: 950px;
        
    }


    .image2 {

       
        border-radius: 10px 10px 0 0px;
        height: 400px;
        width: 948px;
        object-fit: cover;
        
    
    }
    



    .name2 {

        font-size: 30px;
        font-weight: bold;
        margin: 10px;
        color: rgba(255, 255, 255, 0.842);
        margin: 20px 0 0 10px;

    }


    .price2 {

        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 20px;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.842);
        margin: 20px 0 0 10px;

    }


  
    
    .btn-produit2 {

        display: flex;
        justify-content: center;
        width: 98%;
        

    }



    #liste {

        border-radius: 5px 5px 5px 5px;
        padding: 10px 0px 10px 10px;
        margin: 10px;
        width: 300px;

    }



   

}









/* PAGE DE VALIDATION */





@media (min-width: 320px) {

    
    .validation {

        margin: 20px;
        

    }
    
    
    
    .validation h1 {

        font-size: 15px;
                

    }


    .validation p {

        margin: auto;
        font-size: 15px;
                

    }


}






@media (min-width: 700px) {

    .validation {

        margin: auto;
        width: 650px;
        height: 300px;
    }
    
   
    
    
    
    .validation h1 {

        padding: 50px 0 0 0;
        font-size: 30px;
                

    }


    .validation p {

        padding: 70px 0 0 0;
        font-size: 19px;
                

    }


}



@media (min-width: 1000px) {

    .validation {

        margin: auto;
        width: 850px;
        height: 350px;

    }
    
   
    
    
    
    .validation h1 {

        padding: 60px 0 0 0;
        font-size: 30px;
                

    }


    .validation p {

        padding: 40px 20px 50px 10px;
        font-size: 19px;
        margin-top: 50px;
                

    }


}