*, ::before, ::after {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


body {

    background: #eec0ee;
    font-family: 'poppins', sans-serif;
    
}




/* HEADER */



.presentation {

    background: rgba(24, 1, 20, 0.651);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.presentation img  {

    width: 200px;
    
}



.liens {

    display: flex;
    width: 150px;
    font-size: 20px;
    
    
}


.liens ul {

    display: flex;
    list-style-type: none;
    
    
}

.liens a {

    display: flex;
    text-decoration: none;
    margin-left: 15px;
    color: #fff;
    
}


.liens i {

    font-size: 25px;
    width: 40px;
    
}






/* CORPS DE LA PAGE */


h1 {

    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 25px;
    width: 100%;

}



#main {

    display: flex;
    flex-wrap: wrap;
    
    

}




.photo {

    
    border-radius: 10px;
    border: 1px solid black;
    width: 300px;
    height: auto;
    margin: 50px auto;
    background: rgba(26, 25, 25, 0.842);
    

}



.nom {
   
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    color: rgba(255, 255, 255, 0.842);
}


.prix {

    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    color: rgba(255, 255, 255, 0.842);

}



.description {

    margin: 10px;
    color: #fff;

}


.image {

    border-radius: 10px 10px 0 0;
    margin-top: 0px;
    height: 300px;
    width: 298px;
    object-fit: cover;
    

}


.image img {

    height: 200px;
    width: 200px;
    

}


.btn-produit {

    
    width: 17%;
    padding: 10px;
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    border: 0;
    color: #fff;
    background-color: rgb(180, 55, 6);
    width: 278px;
    margin: 10px;
    cursor: pointer;

}


.btn-produit:hover {

    background-color: rgb(182, 74, 31);
    


}



.btn-produit2 {

    
    width: 17%;
    padding: 10px;
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    border: 0;
    color: #fff;
    background-color: rgb(180, 55, 6);
    width: 278px;
    margin: 10px;
    cursor: pointer;

}


.btn-produit2:hover {

    background-color: rgb(182, 74, 31);
    


}












/* FOOTER */


footer {

    background: rgba(24, 1, 20, 0.651);
    margin-top: 245px;
}


.info ul  {

    list-style-type: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
}


.info a {

    
    text-decoration: none;
    color: #fff;
    margin-top: 10px;

}





@media (min-width: 760px) {

    
    h1 {

        font-size: 30px;
        
        
    }



    #main {

        
        display: flex;
        

    }




    .photo {

        display: flex;
        flex-direction: column;
           
    }
    


    .image {
        
        width: 298px;
    
    }
    



    #produit {

        width: 278px;
        
    
    }


    .camera {

        display: flex;
        justify-content: center;

    }
    


}